h1 {
  font-size: 70px;
  color: #3498DB;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

body {
  background-color: #E0E0E0;
  font-family: 'Copperplate';
}

p {
  color: #333;
  font-size: 25px;
}
strong {
  color: #F39C12;
}

/* Navigation Menu  */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #3498DB;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav ul li a:hover {
  color: #F39C12;
}

/* INDEX - Key Terms Secion */ 
.key-terms-section .content-wrapper{
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.terms-list {
  flex: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 35px;
  margin-bottom: 5px;
}

.pwa-arch-image {
  flex: 1;
  max-width: 100%;
  height: auto;

}

/* FEATURES - Table  */ 
.features-table {
  width: 100%;
  border-collapse: collapse;
}

.features-table th,
.features-table td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}

.features-table th {
  font-weight: bold;
  color:#3498DB
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}

.benefits-list li {
  text-align: center;
  list-style: none;
  font-size: 40px;
}
